* {
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  background: #e2e2e2ce
}

#root {
  display: grid;
  grid-template-columns: 1fr auto;
  /* first row is the fixed header height so main content begins below it */
  grid-template-rows: auto auto;
  grid-template-areas: 
  "navbar navbar"
  "sidebar main"
}
