* {
  box-sizing: border-box;
  font-family: "Arimo", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(147, 147, 147, 0.1);
}

#root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* first row is the fixed header height so main content begins below it */
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  "navbar navbar"
  "sidebar main"
}
